* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: white;
}

#home {
  position: relative;
  height: 100vh;
  padding: 15px;
  background-image: url("./public/Images/homePage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
#home-content h1,
#home-content p,
#home-content button {
  margin: 10px;
}
#home-content h1 {
  font-size: 3rem;
}
#home-content em {
  color: orange;
}
#home p {
  font-weight: 600;
  font-size: 1.75rem;
}
.resume-btn {
  padding: 15px 25px;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1rem;
}
.resume-btn:hover {
  background: blue;
  color: white;
  border: solid 2px white;
}

#about {
  height: 100vh;
  padding: 15px;
  text-align: center;
  background-image: url("./public/Images/aboutPage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.para {
  font-size: 1.25rem;
  margin: 20px;
}
.para p {
  padding-left: 200px;
  padding-right: 200px;
  line-height: 50px;
}

#experience {
  height: 100vh;
  padding: 50px 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./public/Images/experiencePage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
}
#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 800px;
}
#experience-timeline:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0;
}
#experience-timeline:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 40px;
  background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
  top: 100%;
  left: 303px;
}
.timeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.timeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  text-rendering: auto;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.timeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px;
}
.timeline-date {
  width: 240px;
  text-align: right;
  position: absolute;
  left: 0px;
  top: 10px;
}
.timeline-content {
  margin-left: 350px;
  text-align: left;
}
.timeline-content h3 {
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}
.timeline-content h4 {
  font-size: 1.2em;
  margin: 5px 0 15px 0;
}
.timeline-content p {
  font-size: 1em;
  margin: 0;
}

#education {
  height: 100vh;
  padding: 110px 3px;
  text-align: center;
  background-image: url("./public/Images/educationPage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.education-block {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px auto;
  padding: 15px;
  text-align: left;
  border: solid 2px yellow;
  border-radius: 5px;
}
.education-block h3 {
  flex-grow: 1;
  margin-bottom: 5px;
}
.education-block span {
  flex-shrink: 0;
}
.education-block h4 {
  flex-basis: 100%;
}

#skills {
  height: 100vh;
  padding: 60px;
  text-align: center;
  overflow: hidden;
  background-image: url("./public/Images/skillsPage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#skills h2 {
  margin-bottom: 100px;
}
.skills-grid {
  display: flex;
  gap: 2rem;
  padding: 10px;
  margin-left: 40%;
  padding-right: 120%;
}
.skill-card {
  background: white;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  color: black;
  font-size: 1.25rem;
  text-align: center;
}
.skill-card:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

#projects {
  padding: 50px;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: url("./public/Images/projectsPage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
#projects h2 {
  margin-bottom: 50px;
}
#projectContainer {
  display: flex;
  gap: 2.5rem;
  margin-left: 47%;
  width: 880vw;
}
.project {
  max-width: none;
  width: 1000px;
  background: black;
  padding: 2.25rem 1.8rem;
  border: 4px solid greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project:hover {
  transition: transform 1s ease;
  transform: scale(1.02);
}
.project-image-container {
  flex-shrink: 0;
  border: 1px solid yellow;
}
.projectImage {
  vertical-align: middle;
  overflow: clip;
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.project-info {
  flex-grow: 1;
  padding: 15px;
  width: 100vw;
}
.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  margin: 0 0 15px 0;
}
.project-info p {
  color: white;
  margin: 0 0 15px 0;
  font-size: 1em;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.button-container button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  cursor: pointer;
}
.button-container button:hover {
  background: #0056b3;
}

#contact {
  height: 100vh;
  padding: 180px;
  text-align: center;
  background-image: url("./public/Images/contactPage.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
#contact p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
#contact a {
  color: lime;
  text-decoration: none;
}
#contact a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  #home {
    padding: 0px;
    background-size: 100%;
    background-position: bottom;
  }
  #home-content {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  #home-content h1,
  #home-content p,
  #home-content button {
    margin: 15px;
    line-height: 40px;
  }
  #home-content h1 {
    font-size: 2rem;
  }
  #home-content em {
    color: orange;
  }
  #home p {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .resume-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  #about {
    text-align: center;
    padding: 0px;
    background-position: right;
  }
  .heading {
    font-size: 2rem;
  }
  .para {
    font-size: 1.25rem;
  }
  .para p {
    padding: 10px;
    line-height: 20px;
  }

  #experience {
    padding: 5px;
    padding-top: 30px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: left;
  }

  #experience-timeline:before,
  #experience-timeline:after {
    left: 23px;
  }
  .timeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }
  .timeline-icon {
    margin-left: 0;
  }
  .timeline-content {
    margin-left: 70px;
    margin-bottom: 0px;
  }

  #education {
    background-position: left;
  }
  .education-block {
    font-size: 0.9em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .education-block h3,
  .education-block span,
  .education-block h4 {
    flex-basis: auto;
    margin: 5px 0;
  }
  .education-block h3 {
    font-size: 1.2em;
  }
  .education-block span {
    font-size: 1em;
  }
  .education-block h4 {
    font-size: 1.1em;
  }

  #skills {
    height: auto;
    padding: 20px;
    margin: 0px;
    background-position: right;
  }
  #skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0px;
    margin: 0px;
  }
  .skill-card {
    padding: 1rem;
    font-size: 0.9rem;
  }

  #projects {
    height: auto;
    padding: 20px;
  }
  #projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 0px;
    width: 100%;
  }
  .project {
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    gap: 15px;
  }
  .project-info {
    width: 100%;
    text-align: center;
  }

  #contact {
    padding: 20px;
    background-position: left;
  }
}
